name: Tests
on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test:
    runs-on:
      - ubuntu-latest
      # - windows-latest
      # - macos-latest

    strategy:
      matrix:
        node-version:
          - 24.x
        config:
          - name: Default Environment
            env: {}
          - name: Berlin Environment
            env:
              LC_ALL: de_DE.UTF-8
              TZ: Europe/Berlin

    name: ${{ matrix.config.name }}

    env: ${{ matrix.config.env }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Clean install
        run: npm ci

      - name: Run tests
        run: npm test
